{% extends 'layouts/base.html' %}

{% block content %}

<main style="padding: 2%;">
    <section class="card" style="padding: 2%;">


        <p class="lead" style="font-size: 2em;">Lista de contratos del periodo: <b>{{periodoacademico.nombre}}</b> </p>

        <a href="{% url 'datosposgrado' periodo_id %}" class="btn btn-outline-dark mb-3"
            data-bs-toggle="tooltip" title="Volver" style="width: 3%;">
            <i class="fa fa-arrow-left"></i>
        </a>

        <div style="text-align: right;">

            <a class="btn  btn-primary" href="{% url 'contratosdocentes_create' periodo_id %}"> Crear nuevo contrato</a>
        </div>

        <!-- Lista de contrados x docente -->

        <div class="table-responsive mt-4">



            <table id="tablaContratos" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Campo amplio</th>
                        <th scope="col">Modalidad</th>
                        <th scope="col">Cohorte</th>
                        <th scope="col">Módulo</th>
                        <th scope="col">Horas académicoas</th>
                        <th scope="col">Valor por hora</th>
                        <th scope="col">Certificación presupuestaria</th>
                        <th scope="col">Fecha - Certificación presupuestaria</th>
                        <th scope="col">Plazo</th>
                        <th scope="col">No. Contrato</th>
                        <th scope="col">No. Memorando TTHH</th>
                        <th scope="col">Tipo de personal académico</th>
                        <th scope="col">Adenda</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="contratosTableBody">
                    {% for contrato in contratos_por_periordo %}
                    <tr>
                        <td>{{ contrato.docente_obj.perfilusuario.ci }}</td>
                        <td>{{ contrato.docente_obj.get_full_name }}</td>
                        <td>{{ contrato.maestria_obj.nombre }}</td>
                        <td>{{ contrato.campoamplio_obj.nombre }}</td>
                        <td>{{ contrato.modalidad_obj.modalidad }}</td>
                        <td>{{ contrato.programadeposgrado_obj.get_cohorte_display }}</td>
                        <td>{{ contrato.modulo_obj.nombre }}</td>
                        <td>{{ contrato.horasacademicas }}</td>
                        <td>${{ contrato.valorxhora }}</td>
                        <td>{{ contrato.certificacionpresupuestaria }}</td>
                        <td>{{ contrato.fechacertificacionpresupuestaria }}</td>
                        <td>{{ contrato.plazo }}</td>
                        <td>{{ contrato.numerocontrato }}</td>
                        <td>{{ contrato.numeromemorandotthh }}</td>
                        <td>{{ contrato.get_tipopersonalacademico_display }}</td>
                        <td>{{ contrato.adenda }}</td>
                        <td>{{ contrato.obsevaciones }}</td>
                        <td>

                            <div class="d-flex gap-2">

                                <a href="{% url 'contratosdocentes_update' contrato.id periodo_id %}"
                                    class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                <form id="form-borrar-{{ contrato.id }}"
                                    action="{% url 'contratosdocentes_delete' contrato.id periodo_id %}" method="POST"
                                    class="form-borrar">
                                    {% csrf_token %}

                                    <button type="button" class="btn btn-danger"
                                        onclick="confirmarBorrado('{{ contrato.id }}')"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
</main>





<script>
    const buscador = document.getElementById('buscador');

    $(document).ready(function () {
        $('#tablaContratos').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });

    function confirmarBorrado(id) {
        Swal.fire({
            title: '¿Estás seguro de borrar el contrato?',
            text: "¡Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('form-borrar-' + id).submit();
            }
        })
    }
</script>


{% endblock %}