{% extends 'layouts/base.html' %}

{% block content %}
<main style="padding: 2%;">
    <section class="card" style="padding: 2%;">
        <p class="lead" style="font-size: 2em;">Crear Terna <b>{{programa_id}} - {{modulo_id}}</b></p><br>
        <div style="text-align: right;">
            <a class="btn  btn-primary" href="{% url 'docentesdpmmsp' programa_id modulo_id %}"> Crear Docente</a>
        </div>
        <br>
        <div class="table-responsive">
            <table id="CrearTerna" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Docente</th>
                        <th>Cédula</th>
                        <th>Perfil Académico</th>
                        <th>Asignar Rol</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for docente in docentes_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ docente.user.get_full_name }}</td>
                        <td>{{ docente.ci }}</td>
                        <td>{{ docente.titulo_grado }}<br>{{ docente.titulo_postgrado_maestria }}<br>{{docente.titulo_postgrado_doctorado }}</td>
                        <td>
                            <form method="POST" action="{% url 'crearternamodulopmmsp' programa_id modulo_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="docente_id" value="{{ docente.id }}">
                                <select name="Estado" class="form-select" required>
                                    <option value="" disabled selected>-- Seleccionar --</option>
                                    {% if not terna.docente1_idoneo %}<option value="idoneo">Idóneo</option>{% endif %}
                                    {% if not terna.docente2 %}<option value="elegible1">Elegible 1</option>{% endif %}
                                    {% if not terna.docente3 %}<option value="elegible2">Elegible 2</option>{% endif %}
                                </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success">Asignar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $('#CrearTerna').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    });
</script>
{% endblock %}