{% extends 'layouts/base.html' %}

{% block content %}

<main style="padding: 2%;">
    <section class="card" style="padding: 2%;">


        <p class="lead" style="font-size: 2em;">Crear Terna<b>{{periodoacademico.nombre}}</b> </p>


        <div style="text-align: right;">

            <a class="btn  btn-primary" href="#"> Crear Terna</a>
        </div>

        <div class="table-responsive">

            <table id="docentesmatricular" class="table table-striped table-bordered">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Seleccionar Docente</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Perfil Académico</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">Asignar</th>
                    </tr>
                </thead>
                <tbody>



                    {% for docente in docentes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ docente.get_full_name }}</td>
                        <td>{{ docente.perfilusuario.ci }}</td>
                        <td>
                            <form method="POST" action="#">
                                {% csrf_token %}
                                <input type="hidden" name="docente_id" value="{{ docente.id }}">
                                <select class="form-select" name="modulo_id" required>
                                    <option selected disabled>Seleccionar docente</option>
                                    {% for docente in docentes %}
                                    <option value="{{ docente.id }}">{{ docente.nombre }}</option>
                                    {% endfor %}
                                </select>
                        </td>
                        <td>

                            <button type="submit" class="btn btn-success">Matricular</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>



    </section>
</main>





{% endblock %}