{% extends 'layouts/base.html' %}

{% block content %}

<main style="padding: 2%;">
    <section class="card" style="padding: 2%;">


        <p class="lead" style="font-size: 2em;">Terna del modulo <b>{{modulos_list.0.modulo }}</b>: </p>


        <div style="text-align: right;">
            <a class="btn  btn-primary" href="#">Seleccionar Responsable</a>
            <a class="btn  btn-primary" href="{% url 'crearternamodulopmmsp' programa_id modulo_id %}"> Crear Terna</a>
        </div>

        <!-- Lista de contrados x docente -->

        <div class="table-responsive mt-4">
            
            <table id="tablaTernapmmsp" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Docente</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Perfil académico</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">Fecha de registro</th>

                    </tr>
                </thead>
                <!--<tbody id="contratosTableBody">
                    {% for contrato in contratos_por_periordo %}
                    <tr>
                        <td>{{ contrato.coordinador_obj.perfilusuario.ci }}</td>
                        <td>{{ contrato.coordinador_obj.get_full_name }}</td>
                        <td>{{ contrato.maestria_obj.nombre }}</td>
                        <td>{{ contrato.campoamplio_obj.nombre }}</td>
                        <td>{{ contrato.programadeposgrado_obj.get_cohorte_display }}</td>
                        <td>{{ contrato.modalidad_obj.modalidad }}</td>
                        <td>{{ contrato.certificacionpresupuestaria }}</td>
                        <td>{{ contrato.fechacertificacionpresupuestaria }}</td>
                        <td>{{ contrato.plazo }}</td>
                        <td>${{ contrato.honorario }}</td>
                        <td>{{ contrato.numerocontrato }}</td>
                        <td>{{ contrato.cargo }}</td>
                        <td>{{ contrato.noactasseleccion }}</td>
                        <td>{{ contrato.oficioentregadoporth }}</td>
                        <td>{{ contrato.modalidadcontractuar }}</td>
                        <td>{{ contrato.obsevaciones }}</td>
                        <td>

                            <div class="d-flex gap-2" >

                                <a href="#" class="btn btn-warning">Editar</a>
                                 <form id="form-borrar-{{ contrato.id }}" action="#"
                                method="POST" class="form-borrar">
                                {% csrf_token %}

                                <button type="button" class="btn btn-danger"
                                    onclick="confirmarBorrado('{{ contrato.id }}')">Eliminar</button>
                            </form>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>-->
            </table>
        </div>

    </section>
</main>





<script>

    $(document).ready(function () {
    $('#tablaTernapmmsp').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primera",
                "last": "Última",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "bLengthChange": false,   // Oculta el selector de cantidad de registros
        "bFilter": false,         // Oculta el campo de búsqueda
        "bPaginate": false        // Oculta la paginación
    });
});


    function confirmarBorrado(id) {
        Swal.fire({
            title: '¿Estás seguro de borrar el contrato?',
            text: "¡Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('form-borrar-' + id).submit();
            }
        })
    }


</script>



{% endblock %}