{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <div>
        <h1 class="display-5">Admisión</h1>
        <p class="lead">
            <b>Programa:</b> {{maestrianombre}}
            <br>
            <b>Periodo academico:</b> {{periodoacademiconombre}}
            <br>
            <b>Modalidad:</b> {{modalidadnombre}}
        </p>




        <div class="mb-3">

            <a class="btn btn-sm btn-danger" href="/indicadoreseval/{{programaposgrado.id}}">Regresar</a>
        </div>


        {{ grafico|safe }}

        {% if tiene_permiso_edision %}
        <div style="text-align: right;" class="mb-3">

            <a class="btn  btn-info" href="{% url 'admision_create' programaposgrado.id%} ">Agregar</a>

        </div>
        {% endif %}
        <ul class="list-group">
            {% for admision in admision_list %}

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-4 me-auto">
                    <h5>{{admision.nombre}}</h5>
                    {{admision.descripcion}}
                    <br>
                    {{admision.valor}}
                </div>
                {% if tiene_permiso_edision %}
                <a class="btn btn-success " href="{% url 'admision_detail' admision.id %}">Ver</a>
                &nbsp;

                <form id="form-borrar-{{ admision.id }}" action="{% url 'admision_delete' admision.id %}" method="POST"
                    class="form-borrar">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger"
                        onclick="confirmarBorrado('{{ admision.id }}')">Borrar</button>
                </form>
                {% endif %}
            </li>



            {% endfor %}
        </ul>


    </div>



</main>

<script>
    function confirmarBorrado(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('form-borrar-' + id).submit();
            }
        })
    }
</script>


{% endblock %}