{% extends 'layouts/base.html' %}

{% block content %}


<main class="container">

    <h2>Crear admision</h2>

    <p class="lead">
        <b>Programa:</b> {{maestrianombre}}
        <br>
        <b>Periodo academico:</b> {{periodoacademiconombre}}
        <br>
        <b>Modalidad:</b> {{modalidadnombre}}
    </p>

    {{error}}

    <form action=" {% url 'admision_create' programa_id %}" method="POST">

        {% csrf_token %}

        {{form.as_p}}

        <button type="submit" class="btn btn-primary">Crear</button>

    </form>
    <div style="text-align: right;" class="mb-3">

        <a class="btn btn-danger" href="{% url 'admision' programa_id %}">Regresar</a>
    </div>


</main>


{% endblock %}