{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card" style="padding: 2%;">

        <p class="display-6"> Editar maestría </p>
        <h5>
            {{maestria.nombre}}
        </h5>

        <form action="{% url 'maestrias_detail' maestria.id %}" method="POST" style="padding: 2%;">
       
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success">Actualizar</button>
        </form>

    </section>


</main>

{% endblock %}