{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card" style="padding: 2%;">

        <h3 class="display-6"> Modificar programa de posgrado </h3>

        <p class="lead">
            Modifique los datos del programa de posgrado
        </p>
        <p class="lead" style="color: red;">
            Tienes que volver seleccionar un campo amplio, una maestría, un periodo académico y una modalidad para modificar el programa de posgrado.
        </p>
        {{error}}

        <form action="{% url 'programadeposgrado_update' programadeposgrado.id %}" method="POST" class="card card-body "
            style="padding: 2%;">

            {% csrf_token %}

            <div class="mb-3">
                <label for="campoamplio" class="form-label lead"><b>Campo amplio actual:</b> {{ programadeposgrado.campoamplio }} </label>
            </div>
            <select class="form-select" name="" id="campoamplioSelect">
                <option value="" selected disabled>Seleccione un campo amplio</option>
                {% for campoamplio in campoamplio_list %}
                <option value="{{campoamplio.id}}">{{campoamplio.nombre}}</option>
                {% endfor %}
            </select>
            <br>

            <div class="mb-3">
                <label  for="maestria" class="form-label lead"><b>Maestría actual:</b> {{ programadeposgrado.maestria }} </label>

            </div>

            <select class="form-select" name="" id="maestriaSelect">
                <option value="" selected disabled>Seleccione una maestría</option>
                {% for maestria in maestrias_list %}
                <option value="{{maestria.id}}">{{maestria.nombre}}</option>
                {% endfor %}
            </select>
            <br>
            <div class="mb-3">
                <label for="periodoacademico" class="form-label lead"><b>Periodo académico actual:</b> {{ programadeposgrado.periodoacademico }} </label>

            </div>
            <select class="form-select" name="" id="periodoacademicoSelect">
                <option value="" selected disabled>Seleccione un periodo académico</option>
                {% for periodoacademico in periodoacademicos_list %}
                <option value="{{periodoacademico.id}}">{{periodoacademico.nombre}}</option>
                {% endfor %}
            </select>
            <br>
            <div class="mb-3">
                <label for="modalidad" class="form-label lead"><b>Modalidad actual:</b> {{ programadeposgrado.modalidad }} </label>
            </div>

            <select class="form-select" name="" id="modalidadSelect">
                <option value="" selected disabled>Seleccione una modalidad</option>
                {% for modalidad in modalidad_list %}
                <option value="{{modalidad.id}}">{{modalidad.modalidad}}</option>
                {% endfor %}
            </select>
            <br>
            <br>

            <input type="hidden" name="campoamplio_id" id="inputCampoamplio">
            <input type="hidden" name="maestria_id" id="inputMaestria">
            <input type="hidden" name="periodoacademico_id" id="inputperiodoacademico">
            <input type="hidden" name="modalidad_id" id="inputModalidad">

            <button class="btn btn-primary" id="editProgramaBtn" disabled> 
                Modificar programa de posgrado
            </button>
        </form>
        <br>
        <div class="mb-3" style="text-align: right;">
            <a href="{% url 'programasdeposgrado' %}" class="btn btn-danger">Cancelar</a>
        </div>

    </section>

</main>

<script>


    const campoamplio = document.getElementById('campoamplioSelect')
    const maestria = document.getElementById('maestriaSelect')
    const periodoacademico = document.getElementById('periodoacademicoSelect')
    const modalidad = document.getElementById('modalidadSelect')

    const inputCampoamplio = document.getElementById('inputCampoamplio');
    const inputMaestria = document.getElementById('inputMaestria');
    const inputperiodoacademico = document.getElementById('inputperiodoacademico');
    const inputModalidad = document.getElementById('inputModalidad');

    const btn = document.getElementById('editProgramaBtn');

    function updateFormState() {
        const campid = campoamplio.value;
        const mid = maestria.value;
        const cid = periodoacademico.value;
        const modid = modalidad.value;

        if (mid && cid && modid && campid) {
            inputCampoamplio.value = campid;
            inputMaestria.value = mid;
            inputperiodoacademico.value = cid;
            inputModalidad.value = modid;
            btn.disabled = false;
            btn.classList.remove('disabled');
        } else {
            btn.disabled = true;
            btn.classList.add('disabled');
        }
    }

    campoamplio.addEventListener('change', updateFormState);
    maestria.addEventListener('change', updateFormState);
    periodoacademico.addEventListener('change', updateFormState);
    modalidad.addEventListener('change', updateFormState);
</script>

{% endblock %}