{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5 ">

    <section class="card" style="padding: 2%;">
        <p class="lead" style="font-size: 1.5em;">
            <b>
                {{programadeposgrado}}
            </b>
        </p>
        
        <br>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark menuprogposgrado" style="border-radius: 5px;">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'evaluacionesrae_disponibles' %}" style="color: white !important;">
                                RAE
                            </a>
                        </li>
                        <div class="nav-divider"></div>



                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <br>

        <div class="list-group">


            {% for modulos in modulos_list %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{modulos.nombre}}</h5>
                    <small>info</small>
                </div>
                <p class="mb-1">
                    <b>Docente:</b> {{modulos.docente.get_full_name}}
                </p>
                <small>Información adicional</small>
            </a>
            
            {% endfor %}
        </div>

    </section>
</main>


{% endblock %}