{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card p-4">
        <h3 class="mb-4">Evaluaciones disponibles</h3>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}




        {% if evaluaciones %}
        <p class="lead">
            <strong class="text-primary">
                Evaluaciones por realizar
            </strong>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Programa</th>
                    <th style="color: red;">Tipo</th>
                    <th>Fecha disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for eval in evaluaciones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ eval.evaluacion.programa }}</td>
                    <td>
                        <strong>
                            {{ eval.evaluacion.get_tipo_display }}
                        </strong>
                    </td>
                    <td><span style="color: green;">Inicio: </span>{{ eval.evaluacion.fecha_inicio|date:"d/m/Y H:i" }} 
                        <br>
                        <span style="color: red;">Cierre: </span>{{ eval.evaluacion.fecha_fin|date:"d/m/Y H:i" }}
                    </td>
                    <td>
                        <a href="{% url 'evaluacionrae_rendir' eval.evaluacion.id %}"
                            class="btn btn-warning btn-sm">Rendir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">No tienes evaluaciones por realizar disponibles en este momento.</div>
        {% endif %}
        <hr style="border: solid 2px;">
        {% if evaluacionesrealizadas %}
        <p class="lead">
            <strong class="text-success">
                Evaluaciones realizadas
            </strong>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Programa</th>
                    <th style="color: red;">Tipo</th>
                    <th>Fecha disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for eval in evaluacionesrealizadas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ eval.evaluacion.programa }}</td>
                    <td>
                        <strong>
                            {{ eval.evaluacion.get_tipo_display }}
                        </strong>
                    </td>
                    <td>
                         <span style="color: green;" >Inicio: </span> {{ eval.evaluacion.fecha_inicio|date:"d/m/Y H:i" }} 
                        <br>
                        <span style="color: red;" >Cierre: </span> {{ eval.evaluacion.fecha_fin|date:"d/m/Y H:i" }}</td>
                    <td>
                        <a href="{% url 'resultadorae_estudiante' eval.evaluacion.id %}"
                            class="btn btn-info btn-sm">Ver</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">No tienes evaluaciones realizadas en este momento.</div>
        {% endif %}
    </section>
</main>


<script>
    window.addEventListener('pageshow', function (event) {
        if (event.persisted || (window.performance && performance.getEntriesByType("navigation")[0].type === "back_forward")) {
            // Si es desde el historial (atrás o adelante), recarga la página
            window.location.reload();
        }
    });
</script>

{% endblock %}