{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card p-4">
        <h3 class="display-6">Evaluaciones del programa: {{ programa.nombre }}</h3>

        <a href="{% url 'evaluacionrae_activar' programa.id 'simulacro' %}" class="btn btn-primary btn-sm mt-2">
            Activar Simulacro
        </a>
        <a href="{% url 'evaluacionrae_activar' programa.id 'final' %}" class="btn btn-secondary btn-sm mt-2">
            Activar Final
        </a>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Estado</th>
                    <th>Resultados</th>
                </tr>
            </thead>
            <tbody>
                {% for eval in evaluaciones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ eval.tipo|title }}</td>
                    <td>{{ eval.fecha_inicio }}</td>
                    <td>{{ eval.fecha_fin }}</td>
                    <td>{{ eval.activa|yesno:"Activa,Inactiva" }}</td>
                    <td>
                        <a class="btn btn-info btn-sm"  href="{% url 'resultadosrae_programa' programa.id eval.tipo %}"> Resultados</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay evaluaciones aún.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

{% endblock %}
