{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
    <h3>Resultados de {{ evaluacion.get_tipo_display }} - {{ programa }}</h3>

    <br>


    <a href="{% url 'evaluacionrae_programaposgrado' programa.id %}"
        class="btn btn-secondary position-fixed bottom-0 start-0 m-3 shadow">
        <i class="fas fa-arrow-left"></i> Atrás
    </a>

    <a href="{% url 'evaluacionrae_programaposgrado' programa.id %}" class="btn btn-outline-dark mb-3"
        data-bs-toggle="tooltip" title="Volver">
        <i class="fa fa-arrow-left"></i>
    </a>

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="table-responsive mt-4">


        <table id="tablaResultadosRAEPrograma" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Detalles</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                {% for res in resultados %}
                <tr>
                    <td>{{ res.estudiante.get_full_name }}</td>
                    <td>
                        {% if res.respondido %}
                        <span class="badge bg-success">Respondido</span>
                        {% else %}
                        <span class="badge bg-danger">No respondido</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if res.calificacion %}
                        {{ res.calificacion }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if res.detalle_url %}
                        <a href="{{ res.detalle_url }}" class="btn btn-info ">🔍</a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if res.borrar_url %}
                        <form id="form-borrar-{{ res.id }}" action="{{ res.borrar_url }}" method="post"
                            class="d-inline">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger"
                                onclick="confirmarBorrado('{{ res.id }}')">🗑️</button>
                        </form>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'exportar_resultados_excel' programa.id evaluacion.id %}" class="btn btn-success">
            Descargar resultados (Excel)
        </a>

    </div>
</main>


<script>
    const buscador = document.getElementById('buscador');
    $(document).ready(function () {
        $('#tablaResultadosRAEPrograma').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });



    function confirmarBorrado(id) {
        Swal.fire({
            title: '¿Estás seguro de borrar el resultado?',
            text: "¡Esto borrará todos los datos de la evaluación!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('form-borrar-' + id).submit();
            }
        })
    }


</script>

{% endblock %}