{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card p-4">

        <h2 class="mb-4">Gestión de Usuarios</h2>

        <div>
            <a href="{% url 'usuarioscompletos' %}" class="btn btn-primary mb-3" target="_blank">
                <i class="fa fa-plus"></i> <span class="d-none d-sm-inline ms-1">Crear nuevo usuario</span>
            </a>
        </div>

        <!-- Mensajes -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}


        <div class="table-responsive">



            <table id="tablausuarios" class="table">

                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Rol</th>
                        <th scope="col"></th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in datosUsuario_list %}
                    {% if not usuario.is_superuser %}
                    <tr>
                        <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                        <td>{{ usuario.email }}</td>
                        {% if usuario.perfilusuario.ci %}
                        <td>{{ usuario.perfilusuario.ci }}</td>
                        {% else %}
                        <td>Sin cédula</td>
                        {% endif %}
                        {% if usuario.perfilusuario.rol %}
                        <td> {{ usuario.perfilusuario.get_rol_display }}</td>
                        {% else %}
                        <td>Sin rol asignado</td>
                        {% endif %}

                        <td>

                            <form action="{% url 'actualizar_rol_usuario' usuario.id %}" method="POST">
                                {% csrf_token %}
                                <select class="form-select" name="rol" onchange="this.form.submit()"
                                    aria-label="Default select example">
                                    <option selected disabled>Seleccione un rol</option>
                                    <option value="1" {% if usuario.PerfilUsuario.rol == 1 %}selected{% endif %}>Estudiante</option>
                                    <option value="2" {% if usuario.PerfilUsuario.rol == 2 %}selected{% endif %}>Docente</option>
                                    <option value="3" {% if usuario.PerfilUsuario.rol == 3 %}selected{% endif %}>Coordinador</option>
                                    <option value="4" {% if usuario.PerfilUsuario.rol == 4 %}selected{% endif %}>Editor</option>
                                    <option value="5" {% if usuario.PerfilUsuario.rol == 5 %}selected{% endif %}>Tutor</option>
                                </select>
                            </form>

                        </td>
                        <td class="text-end">
                            <a href="{% url 'usuario_editar' usuario.id %}" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-pen"></i> 
                            </a>
                        </td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>


            </table>
        </div>
    </section>

</main>






<script>
    const buscador = document.getElementById('buscador');
    $(document).ready(function () {
        $('#tablausuarios').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"

                },
            }
        });
    });

    function confirmarBorrado(id) {
        Swal.fire({
            title: '¿Estás seguro de borrar la maestría?',
            text: "¡Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('form-borrar-' + id).submit();
            }
        })
    }
</script>




{% endblock %}