{% extends 'layouts/base.html' %}

{% block content %}

<body class="backlogin">

<main class="backlogin" style="align-items: center; display: flex; justify-content: center; height: 93vh;">

    <div class="col-4">
        <section class="card card-body" style="padding: 5%; text-align: center;">

            <div style="text-align: center; margin-bottom: 20px;">
                <img src="https://wh1043073.ispot.cc/static/posgrado.jpg" alt="Logo" class="img-fluid" style="max-width: 250px;">
            </div>

            <h3>Contraseña actualizada</h3>

            <p class="text-muted">
                Su contraseña fue cambiada correctamente. Ahora puede iniciar sesión.
            </p>

            <a href="{% url 'signin' %}" class="btn btn-primary">
                Iniciar sesión
            </a>

        </section>
    </div>

</main>

</body>

{% endblock %}