{% extends 'layouts/base.html' %}

{% block content %}

<body class="backlogin">

    <main class="backlogin login-page">

        <section class="card card-body login-card">

            <form action="{% url 'signin' %}" method="POST">

                <div accesskey="" class="login-logo">
                    <img src="https://wh1043073.ispot.cc/static/posgrado.jpg" alt="Logo" class="img-fluid">
                </div>

                <p class="display-5 login-title">Iniciar sesión</p>

                <p class="text-danger text-center">{{ error }}</p>

                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           name="username"
                           required
                           placeholder="Nombre de usuario">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           required
                           placeholder="Contraseña">
                </div>

                <input type="hidden" name="next" value="{{ request.GET.next|default:'' }}">

                <div class="login-actions">
                    <button class="btn btn-lg btn-primary">Iniciar sesión</button>
                </div>

                <div class="login-reset-link">
                    <a href="{% url 'password_reset_cedula' %}" class="text-decoration-none">
                        ¿Olvidó su contraseña?
                    </a>
                </div>

            </form>

            <hr>

            <!--div class="card-body" style="text-align: center;">
                <a class="btn btn-block btn-dark" href="{% url 'signup' %}">Crear usuario</a>

            </div-->

        </section>

    </main>

</body>

{% endblock %}