{% extends 'layouts/base.html' %}


{% block content %}

<body class="backlogin">

    <main class="backlogin" style="align-items: center; display: flex; justify-content: center; height: 93vh;">


        <div class="col-4">
            <section class="card card-body " style="padding: 5%;">

                <form action="{% url 'signin' %}" method="POST">

                    <div accesskey="" style="text-align: center; margin-bottom: 20px;">
                        <img src="https://wh1043073.ispot.cc/static/posgrado.jpg" alt="Logo" class="img-fluid" style="max-width: 250px;">

                    </div>

                    <p style="text-align: center; font-size: 2.1rem;" class="display-5">Inicar sesión</p>
                    <p class="text-danger" >{{error}}</p>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required
                            placeholder="Nombre de usuario">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required
                            placeholder="Contraseña">
                    </div>

                    <input type="hidden" name="next" value="{{ request.GET.next|default:'' }}">
                    <div style="text-align: center;">
                        <button class="btn btn-lg btn-primary">Iniciar sesión</button>


                    </div>
                    <div style="text-align: center; margin-top: 15px;">
                        <a href="{% url 'password_reset_cedula' %}" class="text-decoration-none">
                            ¿Olvidó su contraseña?
                        </a>
                    </div>

                </form>
                <hr>

                <!--div class="card-body" style="text-align: center;">
                    <a class="btn btn-block btn-dark" href="{% url 'signup' %}">Crear usuario</a>

                </div-->


            </section>

        </div>



    </main>

</body>




{% endblock %}