{% extends 'layouts/base.html' %}

{% block content %}


<main class="container py-5">
    <section class="card" style="padding: 2%;">
        <h3 class="display-6"> Estudiantes matriculados en el programa de maestría</h3>
        <br>

        <p class="lead">
            <b>Programa:</b> {{maestria.nombre}}
        </p>

        <div class="mb-3">
            <a class="btn btn-sm btn-danger" href="{% url 'programamaestria' programa.id %}">Regresar</a>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="mb-3" style="text-align: right;">
            <a class="btn btn-info" href="{% url 'usuariosmatricularprogramam' programa.id %}">Matricular
                estudiantes</a>

        </div>
        <div class="table-responsive">
            
            <table id="usuariosmatriculados" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">CI</th>
                        <th scope="col">Fecha de matrícula</th>
                        <th scope="col">Eliminar matrícula</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in usuarios_matriculados_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ estudiante.usuario.get_full_name }}</td>
                        <td>{{ estudiante.usuario.email }}</td>
                        <td>{{ estudiante.usuario.perfilusuario.ci }}</td>
                        <td>{{ estudiante.fecha_matricula|date:"Y-m-d" }}</td>
                        <td>
                            <form method="POST"
                                action="{% url 'borarusuariosmatriculadosprogramam' programa.id estudiante.usuario.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Dar de baja</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>



    </section>
</main>

<script>
    const buscador = document.getElementById('buscador');
    $(document).ready(function () {
        $('#usuariosmatriculados').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });

    function confirmarBorrado(id) {
        Swal.fire({
            title: '¿Estás seguro de borrar la maestría?',
            text: "¡Esta acción no se puede deshacer!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('form-borrar-' + id).submit();
            }
        })
    }
</script>

{% endblock %}