{% extends 'layouts/base.html' %}

{% block content %}

<main class="container" style="padding: 1%">

    <section class="card" style="padding: 1%;">

        {% if tiene_permiso_edicion %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark menuprogposgrado" style="border-radius: 5px;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <div class="nav-divider"></div>
                        {% if tiene_permiso_edicion or tiene_permiso_coordinador or tiene_permiso_analista %}
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'periodosacademicosmain' %}"
                                style="color: white !important;">
                                Programas de maestría
                            </a>
                        </li>
                        {% endif %}
                        <!-- <div class="nav-divider"></div> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'especialidadesmedicaspos' %}"
                                style="color: white !important;">
                                Especialidades médicas
                            </a>
                        </li> -->
                        {% if tiene_permiso_edicion or tiene_permiso_analista %}
                        <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'periodosacademicosdp' %}"
                                style="color: white !important;">
                                Base de datos Pogrado
                            </a>
                        </li>
                        {% endif %}
                        {% if tiene_permiso_edicion or tiene_permiso_tecnico %}
                        <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'perfeccionamientodocente' %}"
                                style="color: white !important;">
                                Perfeccionamiento Docente
                            </a>
                        </li>
                        {% endif %}
                        <!-- <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'periodosacademicosp' %}"
                                style="color: white !important;">
                                Seleccion de perfiles
                            </a>
                        </li> -->


                        <div class="nav-divider"></div>


                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
        <hr style="border: 1px solid #000;">
        <div style="text-align: center;">
            <img src="../static/Unach3.png" alt="Descripción de la imagen"
                style="width: 20%; height: auto; border-radius: 10px;">
            <h1 class="display-5" style="font-size: 2em;">Sistema de gestión <br> <b>Dirección de Posgrado</b> </h1>
        </div>
        <br>
        <p style="text-align: justify;">
            En esta plataforma encontrarás información esencial sobre el programa de posgrado que estás cursando,
            incluyendo módulos e información relevante. Además, aquí podrás rendir la Evaluación RAE cuando esté
            habilitada, de acuerdo con las fechas establecidas en el cronograma.
        </p>

        <hr style="border: 1px solid #000;">

        <div class="card text-center">
            <div class="card-header text-white" style="background-color: #0e1424;">
                Mis cursos
            </div>
            <div class="card-body">
                <h5 class="card-title">Programa de Posgrado</h5>
                <p class="card-text">en el que te encuentras matriculado/a.</p>
                <a href="{% url 'miscursos' %}" class="btn btn-info">Ingresar</a>

            </div>
            <div class="card-footer " style="background-color: #0e1424;">
            </div>
        </div>




    </section>

</main>



{% endblock %}