{% extends 'layouts/base.html' %}

{% block content %}

<main class="container" style="padding: 1%">

    <section class="card" style="padding: 1%;">


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark menuprogposgrado" style="border-radius: 5px;">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'programasdemaestria' %}" style="color: white !important;">
                                Programas de maestría
                            </a>
                        </li>
                        <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'periodosacademicosdp' %}"
                                style="color: white !important;">
                                Base de datos Pogrado
                            </a>
                        </li>
                        <div class="nav-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="{% url 'especialidadesmedicaspos' %}"
                                style="color: white !important;">
                                Especialidades médicas
                            </a>
                        </li>
                        <div class="nav-divider"></div>
                        

                    </ul>
                </div>
            </div>
        </nav>
        <hr style="border: 1px solid #000;">
        <h1 class="display-4">Inicio</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ipsa doloribus,
            rerum inventore ut sint cum
            veritatis!
            Porro delectus excepturi quibusdam et laboriosam animi ducimus neque quisquam est doloremque, dolore
            voluptatum
            eveniet officiis eius sit deleniti aut iste enim sed aliquam voluptate vero non, rem esse. Quaerat
            repudiandae
            minima in velit beatae assumenda temporibus, repellendus dolor quam animi fugiat nisi placeat suscipit eius
            amet
            veritatis officia repellat. Sint dolore aut quia fugiat aspernatur ea quas, doloremque rem eveniet tempore
            recusandae praesentium dolor blanditiis incidunt? Hic optio mollitia nulla id beatae, eveniet totam quas. Ab
            doloremque in eius sint magni quae voluptate nisi ipsum neque quisquam repellat nesciunt enim incidunt
            accusamus,
            minima quia magnam officiis suscipit. Possimus, adipisci harum ducimus autem, labore fuga dolores quos earum
            quia
            explicabo molestiae veniam natus consequatur dolorem enim atque velit sapiente perferendis repudiandae,
            repellendus
            corrupti! Dicta, hic. Eius aperiam, veniam delectus eveniet eligendi deserunt aut facilis nesciunt
            consectetur
            magni
            corrupti vero ullam voluptatem inventore quibusdam nam quae modi at similique soluta, nulla voluptatum
            impedit
            minima deleniti? Aliquid illum libero veritatis, soluta vel, alias velit consectetur, error nesciunt dolor
            quibusdam
            aut laborum maxime magnam ad! Quod magni facere totam odit, omnis sed rem maxime placeat suscipit!</p>

        <hr style="border: 1px solid #000;">




    </section>

</main>



{% endblock %}